# Entorno virtual
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Directorio de Git
.git/

# Archivos de configuración y ejemplos locales
.gitignore
.env
ejemploPeticion.json

# Archivos de Docker
Dockerfile
.dockerignore
